/* styles/game.module.css */

.main {
    @apply flex flex-col items-center justify-between p-6 md:p-24 min-h-screen gap-5;
    font-family: 'Roboto', sans-serif;
    color: black;
  }
  
  .container {
    @apply bg-white p-8 rounded-lg shadow-lg text-center max-w-md;
    max-width: 350px;
    width: 100%;
    box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 30px 0;
  }
  
  .heading {
    @apply text-4xl font-extrabold mb-6;

    color: black;
    margin: 50px 50px;

    .splittext {
      color: green;
    }
    .stealtext {
      color: red;
    }
  }
  
  .input {
    @apply px-4 py-2 border rounded w-full mb-4;/* Using a yellow color code */
    color: black;
    padding: 10px 20px;
    margin: 25px 0;
    border: 2px solid black;
    width: 50%;
  }
  
  .button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    background-image: linear-gradient(to right, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-color 0.2s, color 0.2s, background-position 0.2s ease-out;
  }
  .button:hover {
    background-color: white;
    color: black;
    background-position: left bottom;
  }
  
  .choiceButton {
    @apply rounded-full font-semibold text-lg w-full;
    @apply mt-4;
    @apply button;
  }
  
  .split {
    @apply button;
  }
  
  .steal {
    @apply button;
  }
  
  .result {
    @apply text-lg mt-6 font-semibold;
  }
  
  .playAgainButton {
    @apply button;
  }
  