@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-balance {
  text-wrap: balance;
}


/* button:hover {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
}
button {
  background-color: black;
  color: yellow;
  padding: 10px 20px;
  border: 2px solid yellow;
  border-radius: 5px;
} */

.social-button {
  background-color: black;
  color: yellow;
  padding: 10px 20px;
  border: 2px solid yellow;
  border-radius: 15px;
  width: 100%;
}
.social-button:hover {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 15px;
  width: 100%;
}

.qr-code {
  width: 220px;
  height: 220px;
  border-radius: 10px;
}