.redirectButton {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 14px 24px;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: left;
  background-image: linear-gradient(to right, var(--primary-color) 50%, var(--secondary-color) 50%);
  background-size: 200% 100%; /* Double the background size for the swipe effect */
  background-position: right bottom; /* Start with the yellow off-screen */
  transition: all var(--transition-speed) ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  text-decoration: none;
}

.redirectButton:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  background-position: left bottom; /* Swipe the yellow on-screen */
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.redirectButton:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.redirectButton:hover .arrow {
  color: var(--secondary-color);
  font-weight: bold;
  transform: translateX(4px) scale(1.2);
}

.arrow {
  align-self: center;
  padding-left: 20px;
  transition: all var(--transition-speed);
  font-size: 1.25rem;
}