.socialButton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:  blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}
.socialButton:hover{
    background-color:  darkblue;
}
