.socialButton {
  background-color: black;
  color: yellow;
  padding: 10px 20px;
  border: 2px solid yellow;
  border-radius: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;
}

.socialButton:hover {
  background-color: yellow;
  color: black;
}

.socialButton:hover .arrow {
  color: black;
  font-weight: bold;
}

.arrow {
  align-self: flex-end;
  transition: color 0.3s, font-weight 0.3s;
}
